/* Flex Layout for Body */
body, html {
  display: flex;
  flex-direction: column;  /* Stack elements vertically */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header style */
.header {
  display: flex;  /* Space out title and links */
  align-items: center;
  text-align: left;
  width: 100%;
  padding-left: 25px;
  background-color: #fff;  /* Optional: background color for header */
}

/* Title Text Styling */
.title-text {
  --bg-size: 200%;
  --color-one: hsl(197, 100%, 50%);
  --color-two: hsl(251, 100%, 19%);
  margin-right: 50%;
  font-size: 3rem;
  background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .title-text {
      animation: move-bg 4s linear infinite;
  }
  @keyframes move-bg {
      to {
          background-position: var(--bg-size) 0;
      }
  }
}

/* Header Links */
.header-links {
  display: flex;
  gap: 20px;  /* Space between the links */
}

i {
  margin-top: 1%;
}

.header-links a {
  display: flex;
  text-decoration: none;
  color: hsl(252, 100%, 7%);  /* Dark color for links */
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.header-links a:hover {
  color: hsl(197, 100%, 50%);  /* Color change on hover */
}

/* Main container that holds both halves */
.main-container {
  display: flex;
  height: calc(100% - 80px);  /* Full height minus header height */
  width: 100%;
}

/* First Half Section (video and snapshot button) */
.first-half {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 23px;  
  align-items: center;
  width: 50%;  /* Takes up half the screen width */
}

/* Video container styling */
.container {
  position: relative;
  text-align: center;
}

/* Video Styling */
video {
  object-fit: cover;
  border-radius: 10px;
  box-shadow: darkblue 0px 0px 10px 4px, cyan 0px 0px 10px 3.5px;
}

/* Snapshot Button Styling */
#snapshot-btn {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.685);
  border: none;
  cursor: pointer;
  padding: 3%;
  border-radius: 20%;
  box-shadow: 1px 5px 5px rgb(0, 0, 0);
  font-size: 24px;
  transition: transform 0.5s ease;
}

#snapshot-btn:hover {
  background-color: rgb(235, 235, 235);
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.09);
  transition: all 0.3s ease;
}

/* Second Half Section */
.second-half {
  background-color: blue;  /* Just for visual indication, can be changed or removed */
  width: 50%;  /* Takes up the other half of the screen width */
  height: 100%;  /* Full height */
}
