body, html {
    display: inline-block;
    justify-content: left;
    align-items: center;
    padding: 1%;
    background-color: rgb(215, 215, 255);
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.title-text {
--bg-size: 200%;
  --color-one: hsl(197, 100%, 50%);
  --color-two: hsl(251, 100%, 19%);
  font-family: sans-serif;
  font-size: 3rem;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}   

@media (prefers-reduced-motion: no-preference) {
  .title-text {
    animation: move-bg 4s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}


.header {
    display: block;
}

.container {
    text-align: center;
    position: relative;
}
#video {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}
#snapshot-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.685);
    border: none;
    cursor: pointer;
    padding: 3%;
    border-radius: 20%;
    box-shadow: 1px 5px 5px rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#snapshot-btn:hover {
    background-color: rgb(235, 235, 235);  /* Solid white background on hover */
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5); /* Increased shadow on hover */
    transform: scale(1.09);
    transition: all 0.3s ease  /* Slightly enlarge the button on hover */
}

